<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body{
background-color: white;
color: white;
}

h1 {
color: #ab1628;
}

hr {
color: #ab1628;
}

h3 {
color: #ab1628;
}

h6{
color: #ab1628;
text-decoration: underline;
}
</style>
<title>Access Denied</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-display-middle">
<h1 class="w3-jumbo w3-animate-top w3-center"><code>Access Denied</code></h1>
<hr class="w3-border-white w3-animate-left" style="margin:auto;width:50%">
<h3 class="w3-center w3-animate-right">You do not have permission to view this site.</h3>
    <a th:href="@{/students/list}">Back to Students List</a>
</div>
</body>
</html>