<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Save Course</title>
  <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #408eb8;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>

<body>
<ul>
  <li><a th:href="@{/index}">Home</a></li>
  <li><a th:href="@{/students/list}">Students</a></li>
  <li><a th:href="@{/courses/list}">Courses</a></li>
  <li style="float:right"><form action="#" th:action="@{/logout}" method="POST">

    <input type="submit" value="Logout" class="btn mt-2" />

  </form></li>
</ul>
<div class="container">
  <br><br>
  <p th:text="'Courses of '+ ${student.firstName}" class="h4 mb-4"></p>
  <hr>
  <br><br>

  <form action="#" th:action="@{/students/deleteCourse(studentId=${student.studentId})}"
        th:object="${courses}" method="POST">
    Select Course to Delete:
    <select class="form-select-lg mb-3"  th:field="${course.courseId}"  id="courseId">
      <option th:each="course : ${courses}"
              th:value="${course.courseId}" th:text="${course.courseName}+' : '+${course.courseTitle}"></option>
    </select>
    <br><br>
    <button type="submit" class="btn btn-info col-2" onclick="if(!(confirm('Are you sure you want to remove course ?'))) return false">Confirm</button>

  </form>

</div>
</body>
</html>