<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Course</title>

    <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #408eb8;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>

<body>
<ul>
    <li><a th:href="@{/index}">Home</a></li>
    <li><a th:href="@{/students/list}">Students</a></li>
    <li><a th:href="@{/courses/list}">Courses</a></li>
    <li style="float:right"><form action="#" th:action="@{/logout}" method="POST">

        <input type="submit" value="Logout" class="btn mt-2" />

    </form></li>
</ul>

<div class="container">
    <br><br>
    <h3 style="text-align:center">Course Adding Form</h3>
    <hr>

    <p class="h4 mb-4">Add Course</p>

    <form action="#" th:action="@{/courses/save}"
          th:object="${course}" method="POST">

        <input type="hidden" th:field="*{courseId}"/>

        Course Name:
        <div class="form-inline">
        <input type="text" th:field="*{courseName}"
               class="form-control mb-4 col-4" placeholder="Enter course name">

            <span th:if="${#fields.hasErrors('courseName')}"
                  th:errors="*{courseName}"
                  class="badge badge-danger ml-2 mb-4"></span>
            </div>
        Course Title:
        <div class="form-inline">
        <input type="text" th:field="*{courseTitle}"
               class="form-control mb-4 col-4" placeholder="Enter course title">

            <span th:if="${#fields.hasErrors('courseTitle')}"
                  th:errors="*{courseTitle}"
                  class="badge badge-danger ml-2 mb-4"></span>
        </div>
        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/courses/list}">Back to Courses List</a>

</div>
</body>

</html>