<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Courses List</title>
    <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #408eb8;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>

<body>
<ul>
    <li><a th:href="@{/index}">Home</a></li>
    <li><a th:href="@{/students/list}">Students</a></li>
    <li><a th:href="@{/courses/list}">Courses</a></li>
    <li style="float:right"><form action="#" th:action="@{/logout}" method="POST">

        <input type="submit" value="Logout" class="btn mt-2" />

    </form></li>
</ul>
<div class="container">
    <br><br>
    <h3 style="text-align:center">Courses List </h3>
    <hr>
    <br><br>
    <table class="table table-bordered table-striped">
        <thead class = "thead-dark">
        <tr>
            <th>Course Name</th>
            <th>Course Title</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempCourse : ${courses}">

            <td th:text="${tempCourse.courseName}"></td>
            <td th:text="${tempCourse.courseTitle}"></td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <a th:href="@{/students/list}">Back to Students List</a>
</div>
</body>

</html>